.ImgsPreview_Container {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  max-height: 500px;
  background-color: white;
}
.ImgsPreview_Container .selection-box {
  display: none;
}
.ImgsPreview_Container .img-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  cursor: pointer;
}
.ImgsPreview_Container .img-preview img {
  width: 100%;
}
.ImgsPreview_Container .span-box {
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.ImgsPreview_Container .span-box button {
  margin: 10px;
  height: 15px;
  width: 15px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 100%;
  cursor: pointer;
}
.ImgsPreview_Container .span-box button:hover {
  background-color: white;
  border-color: gray;
}
.ImgsPreview_Container .span-box button:hover {
  background-color: white;
  border-color: gray;
}

@media (min-width: 992px) {
  .ImgsPreview_Container {
    display: inline-flex;
    height: 500px;
    width: 100%;
  }
  .ImgsPreview_Container .selection-box {
    display: inline-block;
    width: 75px;
    border-left: 1px solid transparent;
    border-right: 1px solid lightgray;
  }
  .ImgsPreview_Container .selection-box button {
    display: flex;
    align-items: center;
    margin: 10px auto;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
  }
  .ImgsPreview_Container .selection-box button:hover {
    box-shadow: 0 0 5px lightgray;
  }
  .ImgsPreview_Container .selection-box button img {
    max-height: 50px;
    max-width: 100%;
  }
  .ImgsPreview_Container .img-preview {
    display: inline-flex;
    margin: 0 auto;
    width: calc(90% - 75px);
  }
  .ImgsPreview_Container .img-preview img {
    margin: 10px;
    max-height: 100%;
    max-width: 100%;
  }
  .ImgsPreview_Container .span-box {
    display: none;
  }
}
