.ItemList_Container > h2 {
  width: calc(90% - 90px);
  padding: 15px 45px;
  margin: 0 auto;
  font-size: 30px;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.ItemList_Container > div {
  display: flex;
  flex-wrap: wrap;
}
.card {
  cursor: pointer;
  border: 1px solid rgba(90, 90, 90, 0.082);
  border-radius: 5px;
  margin: 10px;
  width: 240px;
  height: 318px;
}
.card > a {
  text-decoration: none;
  color: black;
}

.card:hover .card-title {
  transition: 0.3s;
  font-size: 14px;
}
.card-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 230px;
}
.card-img > a {
  max-height: 100%;
  max-width: 100%;
}
.card-body {
  display: block;
}
.card-title {
  margin: 5px;
  font-size: 22px;
  height: 30px;
  overflow: hidden;
}
.card-price {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 25px;
  height: 45px;
}
.card-price > p {
  width: 50%;
}
.card-price > p:first-child {
  text-align: center;
}
