.title-Container {
  display: flex;
  align-items: center;
}
.title-Logo {
  height: 65px;
}
.title {
  color: rgb(51, 51, 102);
  font-size: 20px;
  width: 80px;
  white-space: 50px;
  font-weight: bold;
  line-height: 70%;
}
