.Profile_Container {
  background-color: white;
  display: flex;
  min-height: calc(100vh - 100px);
}
.Profile_Container > .profile-content {
  min-height: 100%;
  width: calc(100% - 70px);
}

.Profile_Container > .profile-content > h3 {
  padding: 10px 30px;
  margin: 10px auto;
  width: 80%;
  font-size: 26px;
  border-bottom: 1px solid lightgray;
}
.Profile_Container > .profile-content > div {
  width: 100%;
}

.Profile_Container > .profile-nav {
  background-color: red;
  width: 70px;
}
.Profile_Container > .profile-nav > ul {
  min-height: 100%;
  width: 100%;
  list-style: none;
}
.Profile_Container > .profile-nav > ul > li {
  display: flex;
  padding: 20px 0;
  cursor: pointer;
}
.Profile_Container > .profile-nav > ul > li > svg {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
