.ProfileNav_Container {
  display: flex;
  align-items: flex-end;
  margin-right: 2%;
  width: fit-content;
  height: 50px;
  color: #333;
}
.ProfileNav_Container > * {
  margin-bottom: 10px;
  margin-left: 10px;
}
.ProfileNav_Container > .profile-menu {
  height: 21px;
}
.ProfileNav_Container > .profile-menu:hover ul {
  display: block;
}
.ProfileNav_Container > .profile-menu > ul {
  background-color: #fff159;
  display: none;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  margin-top: -50px;
  top: 50px;
  list-style: none;
  border-radius: 0 0 5px 5px;
}
.ProfileNav_Container > .profile-menu > ul > li {
  margin: 5px 0;
  text-align: end;
}

.ProfileNav_Container a {
  text-decoration: none;
  color: #333;
}
.ProfileNav_Container a > svg {
  margin: 0 5px;
}

@media (max-width: 992px) {
  .ProfileNav_Container {
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 5px 0;
  }
  .ProfileNav_Container > * {
    margin: 0;
  }
  .ProfileNav_Container > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 155, 244);
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 5px;
  }
  .ProfileNav_Container > a:hover {
    background-color: rgb(0, 125, 213);
  }
  .ProfileNav_Container > a:active {
    color: lightgray;
  }
}
