.ProfileNav_Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}
.ProfileNav_Container > .btn {
  background-color: rgb(30, 155, 244);
  color: white;
}
.ProfileNav_Container > .btn:hover {
  background-color: rgb(0, 125, 213);
}
.ProfileNav_Container > .btn:active {
  color: lightgray;
}

.ProfileNav_Container > .profile-menu {
  width: 90%;
  background-color: white;
  border-radius: 5px;
}
.ProfileNav_Container > .profile-menu > a {
  padding: 10px;
  margin: 0 10px;
  width: calc(100% - 40px);
  text-align: end;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
}
.ProfileNav_Container > .profile-menu > a > svg {
  margin: 0 10px -2px 10px;
  width: 20px;
  height: 20px;
}
.ProfileNav_Container > .profile-menu > ul {
  padding: 5px 0;
  list-style: none;
}
.ProfileNav_Container > .profile-menu > ul > li {
  padding: 5px;
  width: calc(100% - 10px);
  text-align: center;
}
.ProfileNav_Container > .profile-menu > ul > li:hover {
  background-color: lightgray;
}
.ProfileNav_Container > .profile-menu > ul > li:hover a {
  color: white;
}
.ProfileNav_Container > .profile-menu > ul > li > a {
  width: calc(100% - 10px);
}

@media (min-width: 768px) {
  .ProfileNav_Container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .ProfileNav_Container {
    width: max-content;
    justify-content: end;
  }

  .ProfileNav_Container > .profile-menu {
    width: min-content;
    background-color: transparent;
  }
  .ProfileNav_Container > .profile-menu > a {
    padding: 0;
    margin: 0;
    width: max-content;
    font-size: 14px;
    border: none;
  }
  .ProfileNav_Container > .profile-menu > a > svg {
    height: 16px;
    width: 16px;
  }

  .ProfileNav_Container > .profile-menu > ul {
    display: none;
    position: absolute;
    background-color: lightgray;
  }
  .ProfileNav_Container > .profile-menu:hover > ul {
    display: block;
  }
  .ProfileNav_Container > a {
    font-size: 14px;
  }
}
