.ProductTitle_Container {
  display: flex;
  margin: 5px 0;
  padding: 0 10px;
}
.ProductTitle_Container > h2 {
  max-height: 60px;
  width: calc(100% - 22px);
  font-size: 22px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: "...";
}
.ProductTitle_Container > input[type="checkbox"] {
  display: none;
}
.ProductTitle_Container > label {
  cursor: pointer;
}
.ProductTitle_Container > label > svg {
  height: 22px;
  width: 22px;
}
