.ShoppingCart_Container {
  display: flex;
  min-height: 20px;
  min-width: 40px;
}
.ShoppingCart_Container > a {
  display: flex;
  align-items: flex-end;
  color: gray;
  text-decoration: none;
  min-width: 40px;
}

.ShoppingCart_Container > a > svg {
  width: 20px;
  height: 20px;
}
.ShoppingCart_Container > a > p {
  margin-left: 5px;
  font-size: 17px;
}
