.Category_Container {
  background-color: white;
  width: 100%;
}
.Category_Container > h2 {
  margin-top: 15px;
  margin-left: 45px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #666;
}
.Category_Container > div {
    display: flex;
  }
  