.MainCartView_Container {
  display: flex;
  flex-wrap: wrap;
}
.MainCartView_Container > h2 {
  padding: 10px;
  height: min-content;
  width: calc(100% - 20px);
  text-align: center;
}

.MainCartView_Container > .stack-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.MainCartView_Container > .stack-group > .stack-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px;
  margin: 0 10px 10px 10px;
  width: calc(100% - 40px);
  border-bottom: 1px solid lightgray;
}

.MainCartView_Container > .stack-group > .stack {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  margin: 0 10px;
  width: calc(100% - 20px);
  border-bottom: 1px solid lightgray;
}

.MainCartView_Container > .stack-group > .stack > .stack-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: calc(200px / 2);
  max-height: calc(200px / 2);
}
.MainCartView_Container > .stack-group > .stack > .stack-img > img {
  margin: auto 0;
  max-width: 90%;
  max-height: 90%;
}

.MainCartView_Container > .stack-group > .stack > .stack-description {
  width: calc(100% - 100px);
}
.MainCartView_Container > .stack-group > .stack > .stack-description > h2 {
  font-size: 25px;
  max-height: 60px;
  overflow: hidden;
}
.MainCartView_Container > .stack-group > .stack > .stack-description > p {
  padding: 5px 7px;
  max-height: 35px;
  font-size: 12px;
  overflow: hidden;
}

.MainCartView_Container > .stack-group > .stack > .stack-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.MainCartView_Container > .stack-group > .stack > .stack-details > p {
  margin: 2px 0;
  width: 40%;
}
.MainCartView_Container > .stack-group > .stack > .stack-details > p:nth-child(even) {
  width: 60%;
}

.MainCartView_Container > .stack-group > .stack-footer {
  display: flex;
  padding: 0 10px;
  margin: 10px;
  width: calc(100% - 40px);
}
.MainCartView_Container > .stack-group > .stack-footer > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.MainCartView_Container > .stack-group > .stack-footer > div > * {
  margin: 10px 0;
  width: 50%;
}
.MainCartView_Container > .stack-group > .stack-footer > div > a {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .MainCartView_Container > .stack-group > .stack > .stack-img {
    width: calc(300px / 2);
    max-height: calc(300px / 2);
  }
  .MainCartView_Container > .stack-group > .stack > .stack-description {
    width: calc(100% - 150px);
  }
  .MainCartView_Container > .stack-group > .stack > .stack-details > p {
    width: 50%;
  }
  .MainCartView_Container > .stack-group > .stack > .stack-details > p:nth-child(even) {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .MainCartView_Container > .stack-group > .stack > .stack-description {
    width: calc(100% - 150px - 20%);
  }
  .MainCartView_Container > .stack-group > .stack > .stack-details {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
  }
  .MainCartView_Container > .stack-group > .stack > .stack-details > p {
    width: 100%;
  }
  .MainCartView_Container > .stack-group > .stack > .stack-details > p:nth-child(even) {
    width: 100%;
  }
}
