.ItemListContainer {
  margin: auto;
  width: 80%;
}
.ItemListContainer-Title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #666;
}
.ItemListContainer-ItemList {
  margin: auto;
  width: 90%;
}
