

.Menu_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.Menu_Container > nav {
  flex-wrap: wrap;
  width: 100%;
}
.Menu_Container > nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
  width: calc(100% - 10px);
  list-style: none;
}
.Menu_Container > nav > ul > li {
  text-align: center;
}
.Menu_Container > nav > ul > li > a {
  font-size: 14px;
}
@media (min-width: 576px) {
  .Menu_Container > nav > ul > li > a {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .Menu_Container > nav > ul > li > a {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .Menu_Container {
    height: 50px;
    width: 50%;
  }

  .Menu_Container > nav {
    display: flex;
    align-items: flex-end;
  }
  .Menu_Container > nav > ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 0 5px 45px;
  }

  .Menu_Container > nav > ul > li > a {
    font-size: 13px;
  }
}
