.Title_Container {
  display: inline-flex;
  justify-content: flex-end;
  min-width: 60px;
  height: 50px;
}
.Title_Container > a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: calc(60px + 10px);
  cursor: pointer;
  text-decoration: none;
}
.Title_Container > a > * {
  margin: 0 5px;
}
.Title_Container > a > .title-logo {
  height: 90%;
}
.Title_Container > a > .title {
  display: none;
  color: rgb(51, 51, 102);
  font-size: 22px;
  width: 80px;
  line-height: 80%;
}

@media (min-width: 768px) {
  .Title_Container > a {
    max-width: calc(60px + 10px + 80px);
  }
  .Title_Container > a > .title {
    display: block;
  }
}
