.MapNav_Container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 15%;
  height: 50px;
}
.MapNav_Container > div {
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  color: rgba(51, 51, 51, 0.6);
}
.MapNav_Container > div:hover {
  border: 1px solid rgba(128, 128, 128, 0.418);
  cursor: pointer;
}
.MapNav_Container > div > svg{
  width: 35px;
  height: 35px;
}
.MapNav_Container > div > p {
  width: 65px;
  margin-left: 5px;
  font-size: 13px;
}
.MapNav_Container > svg {
  display: none;
}