.CartButtons_Container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  width: calc(100% - 10px);
}
.CartButtons_Container > * {
  margin: 5px 0;
}
.CartButtons_Container > .btn-group {
  display: flex;
  justify-content: center;
  width: 80%;
}
.CartButtons_Container > .btn-group > input {
  text-align: center;
  width: calc(100% - 116px);
}

.CartButtons_Container > button {
  width: 200px;
}
