.RatingCalculator_Container {
  display: inline-flex;
  margin: 5px;
  height: 15px;
  color: #3483fa;
  cursor: pointer;
}
.RatingCalculator_Container > span {
  margin-left: 10px;
  margin-top: -3px;
}
