.CartView_Container {
  background-color: white;
  min-height: calc(100vh - 100px);
}

.CartView_Container > h2 {
  text-align: end;
  height: fit-content;
  padding: 20px;
  margin: 0 100px 20px 100px;
  border-bottom: 1px solid lightgray;
}
.CartView_Container > .stack-group {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.CartView_Container > .stack-group > .stack {
  display: flex;
  margin: 5px 0;
  /* background-color: aqua; */
  width: 90%;
  height: 180px;
  border-top: 1px solid lightgray;
}

.CartView_Container > .stack-group > .stack-buttons-top {
  display: flex;
  justify-content: flex-end ;
  width: 90%;
}
.CartView_Container > .stack-group > .stack-buttons-bottom {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  border-top: 1px solid lightgray;
}
.CartView_Container > .stack-group > .stack-buttons-bottom > div {
  width: 25%;
}

.CartView_Container > .stack-group > .stack > .stack-img-group {
  display: flex;
  width: 25%;
}

.CartView_Container > .stack-group > .stack > .stack-img-group > .stack-img {
  background-color: white;
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.CartView_Container > .stack-group > .stack > .stack-img-group > .stack-img > img {
  margin: auto 0;
  max-width: 90%;
  max-height: 90%;
}

.CartView_Container > .stack-group > .stack > .stack-description {
  width: 70%;
}
.CartView_Container > .stack-group > .stack > .stack-description > h1 {
  font-size: 25px;
}

.CartView_Container > .stack-group > .stack > .stack-details {
  width: 25%;
}
.CartView_Container > .stack-group > .stack > .stack-details > h4 {
  font-size: 25px;
}
