.NavBar_Container {
  background-color: #fff159;
  width: 100%;
}
.NavBar_Container > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.NavBar_Container > .container > .Title_Container {
  width: 20%;
}
.NavBar_Container > .container > .SearchBar_Container {
  width: 50%;
}
.NavBar_Container > .container > .CompactMenuButton_Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.NavBar_Container > .container > .CompactMenuButton_Container > * {
  margin: 0 2%;
}

@media (min-width: 576px) {
  .NavBar_Container > .container > .SearchBar_Container {
    width: 60%;
  }
  .NavBar_Container > .container > .CompactMenuButton_Container {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .NavBar_Container > .container > .SearchBar_Container {
    width: 65%;
  }
  .NavBar_Container > .container > .CompactMenuButton_Container {
    width: 15%;
  }
}

@media (min-width: 992px) {
  .NavBar_Container > .container > .Title_Container {
    width: 15%;
  }
  .NavBar_Container > .container > .SearchBar_Container {
    width: 50%;
  }
  .NavBar_Container > .container > .Menu_Container {
    margin: 0;
  }
  .NavBar_Container > .container > .ShoppingCart_Container {
    margin: 0 25px;
  }
}
