.PaymentMethods_Container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  width: 250px;
}
.PaymentMethods_Container > h4 {
  margin: 5px 10px;
}
.PaymentMethods_Container > div {
  display: flex;
  flex-wrap: wrap;
}
.PaymentMethods_Container > div > img {
  display: flex;
  margin-left: 10px;
  height: 25px;
}
.PaymentMethods_Container > button {
  background: none;
  margin: 5px 10px;
  color: #3483fa;
  border: none;
  cursor: pointer;
}
