.ShippingAddress_Container {
  margin: 5px;
  display: inline-flex;
}
.ShippingAddress_Container > * {
  margin: 5px;
}
.ShippingAddress_Container > svg {
  color: greenyellow;
  width: 25px;
  height: 25px;
}
.ShippingAddress_Container > div {
  margin-left: 15px;
}
.ShippingAddress_Container > div > h4 {
  font-size: 18px;
  color: greenyellow;
}
.ShippingAddress_Container > div > p {
  color: gray;
  font-size: 13px;
}
.ShippingAddress_Container > div > button {
  background: none;
  border: none;
  cursor: pointer;
  color: #3483fa;
}
