.ItemDetailContainer_Container {
  display: flex;
  padding-top: 10px;
  min-height: calc(100vh - 100px);
  background-color: white;
}
.ItemDetailContainer_Container > div {
  width: 100%;
}
.ItemDetailContainer_Container > div > p {
  margin: 5px 20px;
  font-size: 13px;
  font-weight: 300;
  color: gray;
}
.ItemDetailContainer_Container > div > h3 {
  margin: 5px 20px;
  font-size: 36px;
}

@media (min-width: 992px) {
  .ItemDetailContainer_Container > div {
    height: min-content;
  }
  .ItemDetailContainer_Container > div:first-child {
    width: 62%;
  }
  .ItemDetailContainer_Container > div:last-child {
    padding: 5px 10px;
    margin: 5px 10px;
    width: calc(38% - 40px);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
  }

  .ItemDetailContainer_Container > div > h3 {
    margin: 5px;
  }
  .ItemDetailContainer_Container > div:last-child > .CartButtons_Container > .btn-group {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .ItemDetailContainer_Container > div:first-child {
    width: 67%;
  }
  .ItemDetailContainer_Container > div:last-child {
    width: calc(33% - 40px);
  }
}

@media (min-width: 1400px) {
  .ItemDetailContainer_Container > div:first-child {
    width: 70%;
  }
  .ItemDetailContainer_Container > div:last-child {
    width: calc(30% - 40px);
  }
}
