.PersonalInfo_Container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 500px;
  border-radius: 5px;
}

.PersonalInfo_Container > h4 {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 26px;
}
.PersonalInfo_Container > p {
  margin-left: -40px;
  width: 100%;
  text-align: center;
  color: gray;
}

.PersonalInfo_Container > form {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.PersonalInfo_Container > form > * {
  margin: 15px 0;
  width: 60%;
}

.PersonalInfo_Container > form > input {
  height: 45px;
  padding-left: 7px;
}
.PersonalInfo_Container > form > button {
  height: 40px;
  cursor: pointer;
}
