.navbar-Container {
  background-color: #fff159;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
}
.navbar-Container > div {
    background-color: #fff159;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 90%;
  }
.navbar-NavGroup {
  display: flex;
  justify-content: space-between;
}
